@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%) 160%);
}

button {
  padding: 0;
  border: none;
}

main {
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 400px;
  width: 100%;
  margin-right: 32px;
  margin-left: 32px;
}

.game-container {
  max-width: 311px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 650px) {
  .header-container {
    max-width: 700px;
  }
}
